.questionList {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  list-style: none;
}

.questionItem {
  display: grid;
  grid-template-columns: auto minmax(0, 1fr) auto;
  align-items: center;
  column-gap: var(--gap-sm);

  flex: 1;
  min-height: 0;
  padding: var(--padding-md) 0;
}

.questionItem:nth-child(2) {
  border-top: 1px solid var(--primary-soft);
  border-bottom: 1px solid var(--primary-soft);
}

.questionBadge {
  display: grid;
  place-items: center;

  width: 30px;
  aspect-ratio: 1;

  border: 2px solid var(--secondary-soft);
  border-radius: var(--radius-sm);
  background-color: var(--surface);

  font-size: var(--text-heading-md-font-size);
  line-height: var(--text-heading-md-line-height);
}

.questionTitle {
  min-width: 0;

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  color: var(--text-primary);
  font-size: var(--text-heading-md-font-size);
  line-height: var(--text-heading-md-line-height);
  text-decoration: none;
}

.questionTitle:hover,
.questionTitle:focus {
  text-decoration: underline;
}

.meta {
  display: flex;
  align-items: center;
  gap: var(--gap-sm);
}

.meta > span {
  display: inline-flex;
  align-items: center;
  gap: var(--gap-2xs);

  color: var(--text-secondary);
  font-size: var(--text-body-md-font-size);
  line-height: var(--text-body-md-line-height);
}

.emptyText {
  display: flex;
  align-items: center;
  flex: 1;
  color: var(--text-secondary);
  font-size: var(--text-body-lg-font-size);
  line-height: var(--text-body-lg-line-height);
}
